@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../utilities/_variables";

.homepage-container {
	@apply flex  flex-col items-center;
	height: 84vh;
	.homepage {
		@apply flex justify-center w-screen;
		margin: 100px auto;
		h2 {
			font-size: 3.3rem;
		}
	}
	.search-input {
		width: 700px;
		height: 50px;
		padding-left: 20px;
		margin-right: 50px;
		background-color: $lighterPurpleColor;
		border: 1px solid $lighterPurpleColor;
		border-radius: 15px;
		//box-shadow: 10px 5px 5px $mediumPurpleColor;
	}
	.btn-submit{
		width: 150px;
		height: 50px;
		background-color: $mediumPurpleColor;
		color: $lightPurpleColor;
		border-radius: 15px;
		&:hover{
			background-color: $buttonHoverColor;
		}
	}
}