@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./src/utilities/variables";

.homepage-container {
	@include input-placeholder;
	@include button;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	.homepage {
		display: flex;
		justify-content: center;
		width: 100vw;
		margin: 100px auto;
		h2 {
			font-size: 3.3rem;
		}
	}
	.search-input {
		width: 600px;
		height: 50px;
		margin-right: 20px;
		background-color: $lighterPurpleColor;
		border: 1px solid transparent;
		border-radius: 15px;
	}
/*	.btn-submit{
		height: 50px;
		width: 150px;
		color: $lightPurpleColor;
		background-color: $mediumPurpleColor;
		border: 1px solid transparent;
		border-radius: 15px;
		&:hover{
			background-color: $buttonHoverColor;
		}
	}*/

}
