@tailwind utilities;
@tailwind components;
@tailwind base;

@import "../../../../utilities/_variables";

.signUp-container {
	height: 90%;
	margin: 30px;
	@include form-design(".signUp-info", ".form-signUp", 20px, 20px, 250px, 50px);
	.form-signUp {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
